body{
  font-family: 'Noto Sans JP';
  margin: 0px;
}

header{
  background-color: #0073a8;
  color: #ffffff;
  ul{
    list-style-type: none;
    li{
      display: inline-block;
      margin: 10px 10px 10px 10px;
    }
    a{
      color: #ffffff;
    }
  }
}

main{
  margin-left: 50px;
  margin-right: 50px;
  article{
    ul{
      list-style-type: none;
      li{
        display: inline-block;
        margin:10px;
        a{
          color: #00bdfe
        }
      }
    }
  }
}

footer{
  background-color: #0073a8;
  p{
    color: #ffffff;
    margin: 10px 50px 10px 50px;
  }
}
